/* ! COLORS ! */

:root {
    /** Primary Colors **/
    --brand-purple: #9B5DE5;
    --brand-pink: #F15BB5;
    --brand-gray: #333333;
    --brand-white: #FBFBFB;

    /** Secondary Colors **/
    --brand-blue: #00BBF9;
    --brand-green: #00F5D4;
    --brand-yellow: #FEE440;

    /** Extra Colors **/
    --light-purple: #F5EFFC;
    --light-gray: #7C7C7C;
    --highlighted-pink: #E936A1;

    /** Default Colors **/
    --white: #fff;
    --black: #000;
}
