@import "css/settings/colors.css";

body{
    background-color: var(--brand-white);
    color: var(--brand-gray);   
}
button{
    background-color: var(--brand-pink);
    color: var(--brand-white);
    border: 2px solid var(--brand-pink);
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}