html, body {
    background-color: var(--brand-white);
    color: var(--brand-gray);  
    width: 100%;
    height: 100%; 
    margin: 0;
    padding: 0;
}

/*? --------------------- NavBar --------------------- **/
.header-home {
    width: 100%;
    position: fixed;
    background-color: var(--brand-white);
    z-index: 1;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    padding: 8px 5%;
    box-shadow: 0px 4px 10px 2px rgba(153, 153, 153, 0.2);
}

.nav-bar .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nav-bar .logo img {
    width: 102px;
    height: 23px;
}

.nav-bar .searcher {
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 0;
    margin-left: 140px;
    margin-right: 140px;
}

.nav-bar .searcher .categories .categories-select {
    height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-purple);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    color: var(--brand-gray);
    font-family: var(--merriweather-font);
    font-weight: var(--regular);
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 10px 0 0 10px;
}

.nav-bar .searcher .categories .categories-select span {
    font-size: 22px;
}

.nav-bar .searcher .search {
    all: unset;
    width: 100%;
    font-family: var(--merriweather-font);
    font-weight: var(--regular);
    background-color: var(--light-purple);
    border-radius: 0 10px 10px 0;
    font-size: 15px;
    padding-left: 10px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.nav-bar .content-btn {
    margin: auto;
    float: left;
    display: flex;
    flex-direction: row;
}

.nav-bar .btn-login, .btn-sign-up {
    width: 100px;
    height: 30px;
    cursor: pointer;
    border-radius: 50px;
    transition: 0.5s ease background-color;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar .btn-login:hover, .btn-sign-up:hover {
    background-color: #ECE6F4;
}

.nav-bar .btn-login a, .btn-sign-up a {
    text-decoration: none;
    font-family: 'Merriweather Sans';
    font-weight: 400;
    font-size: 12px;
    color: var(--brand-gray);
    text-align: center;
}

.nav-bar .btn-create {
    width: 100px;
    height: 30px;
    cursor: pointer;
    border-radius: 20px;
    background-color: var(--brand-pink);
    transition: 0.5s ease background-color;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar .btn-create:hover {
    background-color: var(--highlighted-pink);
}

.nav-bar .btn-create a {
    text-decoration: none;
    font-family: 'Merriweather Sans';
    font-weight: 800;
    font-size: 12px;
    color: var(--brand-white);
    text-align: center;
}

/*? --------------------- Hero Section --------------------- **/

.hero-section{
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 70px;
}

.hero-section .hero-img{
    height: 580px;
    opacity: 100%;
    position: relative;
    top: 15%;
    left: 40%;
    overflow: hidden;
}

.hero-section .hero-text{
    position:absolute;
    left: 5%;
    top:15%;
}

.hero-section .hero-text .call-to-action{
    /* width: 327px;
    height: 51px; */

    display: inline-block;

    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 100px;
    padding-right: 100px;

    border: none;
    border-radius: 25px;
    
    background-color: var(--brand-pink);
    transition: 0.5s ease background-color;
    cursor: pointer;
    
}

.hero-section .hero-text .call-to-action:hover{
    background-color: var(--highlighted-pink);
}

.hero-section .hero-text .call-to-action a{
    text-decoration: none;
    font-family: var(--merriweather-font);
    font-weight: var(--bold);
    font-size: 20px;
    color: var(--brand-white);
    text-align: center;
}

.hero-section .hero-text .hero-title{
    width: 985px;
    margin-bottom: 5px;
    letter-spacing: -2%;
    word-spacing: 10px;
    font-family: var(--ubuntu-font);
    font-weight: var(--bold);
    font-size: 40pt;
    
    text-shadow: -2px 2px 2px var(--brand-white),
                  2px 2px 1px var(--brand-white),
                  2px -2px 1px var(--brand-white),
                  -2px -2px 1px var(--brand-white);
}   

.hero-section .hero-text .hero-subtitle{
    width: 397px;
    font-family: var(--merriweather-font);
    font-weight: var(--bold);
    font-size: 18pt;
    margin-top:5px;

    text-shadow: -2px 2px 2px var(--brand-white),
				  2px 2px 1px var(--brand-white),
				  2px -2px 1px var(--brand-white),
				  -2px -2px 1px var(--brand-white);
}

/*? --------------------- Features section --------------------- **/

.features-section{
    width: 100%;
    height: 400px;
    background-color: var(--brand-purple);
}

.brand-subtitle {
    width: 100%;
    display: inline-block;
    font-family: var(--ubuntu-font);
    font-weight: var(--bold);
    font-size: 40pt;
    letter-spacing: -2%;
    word-spacing: 10px;
    text-align: center;
    margin-top: 30px;
    color: var(--brand-white);
}

.features-subtitle { 
    color: var(--brand-white);
}

.card1 .white-bg{
    left: 10%;
    margin-top: -5%;
    position: fixed;
    display: flex;
    width: 364px;
    height: 208px;
    background-color: var(--brand-white);
    z-index: 1;

    clip-path: polygon(0 0, 100% 0, 100% 70%, 80% 100%, 0 100%);
}

.card1 .pink-sign{
    left: 11%;
    width: 100px;
    height: 70px;
    display: flex;
    align-content: center;
    align-items: center;
    position: relative;

    background-color: var(--brand-pink);
    z-index: 2;

    clip-path: polygon(0 0, 100% 0, 100% 70%, 80% 100%, 0 100%);
}

.card1 .card1-vector{
    width: 20px;
    height: 20px;
    display: flex;
    position: inherit;
    border: 1px;
    border-color: var(--brand-yellow);
}


.features-cards{
    filter: drop-shadow(0px 2px 10px rgba(0,0,0, .3));
}


/* Trending Projects */
.trending-projects {
    width: 100%;
    height: 100%; 
    margin: 0;
    padding: 0;

    background-color: var(--brand-purple);
}