body{
    background-color: var(--brand-white);
    color: var(--brand-gray);   
}

/** NavBar **/
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
    box-shadow: 0px 4px 10px 2px rgba(153, 153, 153, 0.2);
}

.nav-bar .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    cursor: pointer;
}

.nav-bar .logo img {
    width: 102px;
}

.nav-bar .searcher {
    display: flex;
    flex-direction: row;
    gap: 0;
}

.nav-bar .searcher .categories .categories-select {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-purple);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    color: var(--brand-gray);
    font-family: var(--merriweather-font);
    font-weight: var(--regular);
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 10px 0 0 10px;
}

.nav-bar .searcher .categories .categories-select span {
    font-size: 22px;
}

.nav-bar .searcher .search {
    all: unset;
    width: 467px;
    font-family: var(--merriweather-font);
    font-weight: var(--regular);
    background-color: var(--light-purple);
    border-radius: 0 10px 10px 0;
    font-size: 15px;
    padding-left: 10px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.nav-bar .btn-login, .btn-sign-up {
    padding: 8px 34px;
    margin: auto;
    cursor: pointer;
    border-radius: 50px;
    transition: 0.5s ease background-color;
}

.nav-bar .btn-login:hover, .btn-sign-up:hover {
    background-color: #ECE6F4;
}

.nav-bar .btn-login a, .btn-sign-up a {
    text-decoration: none;
    font-family: 'Merriweather Sans';
    font-weight: 400;
    font-size: 12px;
    color: var(--brand-gray);
}

/** Hero Section **/

.hero-section{
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hero-section .hero-img{
    opacity: 0;
    position: absolute;
}

.hero-section .hero-text .call-to-action{
    font-family: var(--merriweather-font);
    font-weight: var(--bold);
    font-size: 15px;
    text-align: center;
    
    width: 327px;
    
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 5px;

    background-color: var(--brand-pink);
    border-radius: 10px;
    border:none;

}

.hero-section .hero-text .call-to-action a {
    text-decoration-color: var(--brand-white);
    text-decoration: none;
    color: var(--brand-white);
}

.hero-section .hero-text .hero-title{
    width: 985px;
    
    font-family: var(--ubuntu-font);
    font-weight: var(--bold);
    font-size: 35pt;

    margin-bottom: 5px;
}

.hero-section .hero-text .hero-subtitle{
    width: 397px;

    font-family: var(--merriweather-font);
    font-weight: var(--bold);
    font-size: 18pt;

    margin-top:5px;
}

